<!DOCTYPE html>
<!-- 残タスク
・表データを動的に変える
・表データの編集/削除を実装
・表データの保存方法/読み込み方法を考える
・CSV取り込み、保存の実装
・表の中の検索
・分析ページ実装 -->
<html lang="ja">
    <head>
        <title>TradeLogs</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"/>
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet"/>
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
    </head>
    <body>
        <div id="app">
            <v-app id="inspire">
              <v-data-table dark dense :headers="headers" :items="tradelogs" :search="search" :custom-filter="filterOnlyCapsText" :items-per-page="5" sort-by="no" class="elevation-1">
              <template v-slot:top>
                  <v-toolbar flat>
                      <v-toolbar-title>TradeLogs</v-toolbar-title>
                      <v-divider class="mx-4" inset vertical></v-divider>
                      <v-spacer></v-spacer>
                      <v-dialog v-model="dialog" max-width="500px">
                          <template v-slot:activator="{on,attrs}">
                              <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">New Item</v-btn>
                          </template>
                          <v-card>
                              <v-card-title>
                                  <span class="text-h5">{{ formTitle }}</span>
                              </v-card-title>
                              <v-card-text>
                                  <v-container>
                                      <v-row>
                                          <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.no" label="No"></v-text-field>
                                          </v-col>
                                          <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.date" label="日付"></v-text-field>
                                          </v-col>
                                          <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.strategy" label="戦略"></v-text-field>
                                          </v-col>
                                          <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.ticker" label="ティッカー"></v-text-field>
                                          </v-col>
                                          <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.id" label="ID"></v-text-field>
                                          </v-col>
                                          <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.action" label="買付/売却"></v-text-field>
                                          </v-col>
                                          <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.value" label="価格"></v-text-field>
                                          </v-col>
                                          <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.quantity" label="数量"></v-text-field>
                                          </v-col>
                                          <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.cost" label="手数料"></v-text-field>
                                          </v-col>
                                          <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.reason" label="理由"></v-text-field>
                                          </v-col>
                                          <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.memo" label="備考"></v-text-field>
                                          </v-col>
                                      </v-row>
                                  </v-container>
                              </v-card-text>
                              <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                                  <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                              </v-card-actions>
                          </v-card>
                      </v-dialog>
                      <v-dialog v-model="dialogDelete" max-width="500px">
                      <v-card>
                          <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                          <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                              <v-spacer></v-spacer>
                          </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-toolbar>
                <!-- <v-text-field v-model="search" label="Search (Partial Match)" class="mx-4"></v-text-field> -->
              </template>
              <template v-slot:item.actions="{ item }">
                  <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
                  <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
              </template>
              <template v-slot:no-data>
                  <v-btn color="primary" @click="initialize">Reset</v-btn>
              </template>
              <!-- <template v-slot:body.append>
                  <tr>
                      <td colspan="6"></td>
                      <td>
                          <v-text-field v-model="age" type="number" label="Less than"></v-text-field>
                      </td>
                      <td colspan="5"></td>
                  </tr>
              </template> -->
            </v-data-table>
            </v-app>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="script.js"></script>
    </body>
</html>